.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: fit-content;
  margin: auto;
}
.submit-button {
  text-decoration: none;
  margin: 1rem;
}
a {
  text-decoration: none;
}
.text-password {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: inherit;
}
